
/* Fix user-agent */

* {
  box-sizing: border-box;
}

html, input {
  font-family:"Comic Sans","Comic Sans MS";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
background-color: #c3c3c3;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 75%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: #000;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  color: rgb(255, 255, 255);
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #000;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
  background-color: #c3c3c3;
}

/* Font */

.messages {
  font-size: 150%;
color: #000;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: #000;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 40px;
}

.messages {
  height: 90%;
  margin: 2;
  overflow-y: scroll;
  padding: 10px 20px 20px 20px;
}

.message.typing .messageBody {
  color: rgb(255, 255, 171);
}

.message .messageBody {
 color: rgb(255, 255, 255);
}

.username {
  font-weight: 350;
  overflow: hidden;
  padding-right: 15px;
  text-align: center;
}

/* Input */

.inputMessage {
  border: 10px solid #c3c3c3;
  bottom: 0;
top: 1
  height: 60px;
  left: 4;
  outline: none;
  padding-left: 30px;
  position: absolute;
  right: 0;
  width: 100%;
}

